.trip-list {
    width: 480px;
    margin: 60px auto;
  }
  .trip-list ul {
    padding: 0;
  }
  .trip-list li {
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.05);
    border-radius: 4px;
    list-style-type: none;
    margin: 20px 0;
  }

.trip-list:hover {
    box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
}

.trip-list li:hover {
    box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
     animation: mymove 2s;
    animation-fill-mode: forwards;
}
@keyframes mymove {
    from {background-color: #ffffff;}
    to {background-color: #d7d731;}
}

.trip-list li:active {
    box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
     animation: mymove 2s;
    animation-fill-mode: forwards;
}

.trip-list .main-txt {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 8px;
}